<style type="text/css" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    .bg{background: #fff;overflow: hidden;}
    h1{border-bottom: 1px dashed #666;overflow: hidden;background: green;color: #fff}
    .theadBg thead tr th{background: #eef1f6}
    .theadBg tbody tr td.w15{width: 15%}
    .theadBg tbody tr td.w25{width: 25%}
    .theadBg tbody tr td.w60{width: 60%}

    .my-form {
        -webkit-transition: all linear 0.5s;
        transition: all linear 0.5s;
        background: transparent;
    }
    .my-form.ng-invalid {

        background: rgba(255, 0, 0, .2)
    }
    .my-form.ng-valid {
        background: rgba(91, 192, 222, .2)
    }
    .my-form.ng-pristine {
        background: rgba(240, 173, 78, .2)
    }
    /*.my-form.ng-dirty {*/
    /*background: #d43f3a;*/
    /*}*/
    .my-form.ng-submitted {
        background: rgba(32, 77, 116, .2)
    }

    /*ng-class*/
    .strike {
        text-decoration: line-through;
    }
    .bold {
        font-weight: bold;
    }
    .red {
        color: red;
    }
    /**/
    .odd {
        color: #fff;
        background: #ccc;
    }
    .even {
        color: #fff;
        background: darkcyan;
    }

    /*ng-if*/
    .fade{width: 200px; height: 200px;background:green ;}
    .fade{  transition: all linear 1.5s;}
    .fade.ng-enter{opacity: 0}
    .fade.ng-enter.ng-enter-active{opacity:1}
    .fade.ng-leave{opacity: 1}
    .fade.ng-leave.ng-leave-active{opacity: 0}
    .fade.ng-scope{background: red;opacity: 1}
</style>
<div class="bg">

<form name="myForm" class="my-form">
    <div>
        <div>
            <h1>input[text] 和textarea</h1>
            <table class="table theadBg">
                <thead>
                <tr>
                    <th>参数名称</th>
                    <th>参数类型</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in parameter">
                    <td class="w25">{{a.name}}</td>
                    <td class="w15">{{a.type}}</td>
                    <td class="w60">{{a.describe}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        请输入内容: <input name="input" type="text" ng-model="userType" ng-pattern="word"    required ng-trim="false" >
        <span class="error" ng-show="myForm.input.$error.required">必填项!</span>
        <span class="error" ng-show="myForm.input.$error.pattern">有空格出现</span>
        <button class="btn btn-success" ng-model="button"  ng-disabled="myForm.$error.required || myForm.input.$invalid ">点击按钮</button>
        <div>
            <p>输入的内容： {{userType}}</p>

            <p> 修改过:{{myForm.input.$dirty}}</p>

            <p> 验证失败：myForm.input.$invalid = {{myForm.input.$invalid}}</p>

            <p>验证通过表单 myForm.input.$valid = {{myForm.input.$valid}}</p>

            <p>$error对象。它包含当前表单的所有验证内容，以及它们是否合法的信息。用下面的语法访问这个属性 ，如果有空格pattern 就是true myForm.input.$error = {{myForm.input.$error}}</p>

            <!--<tt> $invalid验证成功： myForm.$valid = {{myForm.$valid}}</tt><br />-->

            <p>必填项目 myForm.$error.required = {{!!myForm.$error.required}}</p>
        </div>
        <h3>css</h3>
        <p>ng-valid (有效的).<br/>
            ng-invalid （无效的）.<br/>
            ng-pristine （原始，简介）.<br/>
            ng-dirty （脏的）.<br/>
            ng-submitted （提交的）. </p>
    </div>
    <br>
    <br>
    <div>
        textarea


    </div>
    <div>
       <div>
           <h1>input[number]</h1>
       </div>
        <table class="table theadBg">
            <thead>
            <tr>
                <th>参数名称</th>
                <th>参数类型</th>
                <th>描述</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="a in number">
                <td class="w25">{{a.name}}</td>
                <td class="w15">{{a.type}}</td>
                <td class="w60">{{a.describe}}</td>
            </tr>
            </tbody>
        </table>
        <div>
            输入数字: <input type="number" name="inputNumber" ng-model="valueNumber" min="0" max="99" required>
            <span class="error" ng-show="myForm.inputNumber.$error.required">必填!</span>
            <span class="error" ng-show="myForm.inputNumber.$error.number">请输入数字!</span>
            <br />
            <p>value = {{valueNumber}}</p>
            <p>myForm.input.$valid = {{myForm.inputNumber.$valid}}</p>
            <p>myForm.input.$error = {{myForm.inputNumber.$error}}</p>
            <p>myForm.$valid = {{myForm.$valid}}</p>
            <p>myForm.$error.required = {{!!myForm.$error.required}}</p>
        </div>
    </div>

    <div >
       <div>
           <h1>input[Checkbox]</h1>
       </div>
       <div>
           <table class="table theadBg">
               <thead>
               <tr>
                   <th>参数名称</th>
                   <th>参数类型</th>
                   <th>描述</th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="a in CheckBox">
                   <td class="w25">{{a.name}}</td>
                   <td class="w15">{{a.type}}</td>
                   <td class="w60">{{a.describe}}</td>
               </tr>
               </tbody>
           </table>
       </div>
        <div >
            checkbox第一个 : <input type="checkbox" ng-model="value1"> <br />
            checkbox第二个 : <input type="checkbox" ng-model="value2" ng-true-value="'true的时候显示 YES'" ng-false-value="'false显示 NO'"> <br />
            上面改变下面: <input type="checkbox" ng-model="master"><br />
            下面无法改变上面<input id="checkSlave" type="checkbox" ng-checked="master">
            <p>value1 = {{value1}}</p>
            <p>value2 = {{value2}}</p>
        </div>
        <div style="margin-top: 40px;">
            <h3>ng-change()事件</h3>
            <!-- 按钮1-->
            <input type="checkbox" ng-model="confirmed" ng-change="change()" id="ng-change-example1" />
            <!-- 按钮2  没有添加ngchange-->
            <input type="checkbox" ng-model="confirmed" id="ng-change-example2" />

            <label for="ng-change-example2">Confirmed</label><br />
            <p>debug = {{confirmed}}</p>
            <p>counter = {{counter}}</p>
        </div>
        <p>值改变时触发事件，这个事件是值改变就立即触发和JavaScript中的onchange的触发方式（在用户离开表单元素或按回车键时）不同。ngChange事件只在基于model的值改变时才触发。 </p>

    </div>

    <div>
        <div>
            <h1>input[radio]</h1>
        </div>
        <div>
            <table class="table theadBg">
                <thead>
                <tr>
                    <th>参数名称</th>
                    <th>参数类型</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in radio">
                    <td class="w25">{{a.name}}</td>
                    <td class="w15">{{a.type}}</td>
                    <td class="w60">{{a.describe}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div >
            <label >
                <input type="radio" ng-model="color" value="value红色">  红色 <br />
            </label>
            <label >
                <input type="radio" ng-model="color" ng-value="specialValue"> 绿色 <br />
            </label>
            <label >
                <input type="radio" ng-model="color" value="蓝色blue"> 蓝色 <br />
            </label>
            <p>color = {{color | json}}</p>
        </div>
    </div>

    <div >
        <div>
            <h1>ng-class 或 ng-class-odd 或 ng-class-even</h1>
        </div>
        <div>
            <table class="table theadBg">
                <thead>
                <tr>
                    <th>参数名称</th>
                    <th>参数类型</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in class">
                    <td class="w25">{{a.name}}</td>
                    <td class="w15">{{a.type}}</td>
                    <td class="w60">{{a.describe}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="padding-left:100px; ">
            <p ng-class="{strike: deleted, bold: important, red: error}" style="font-size:30px;">对象语法 给这行代码添加样式</p>
            <label>
                <input type="checkbox" ng-model="deleted"> 添加删除线<br>
            </label>
            <label>
                <input type="checkbox" ng-model="important"> 加粗样式<br>
            </label>
            <label >
                <input type="checkbox" ng-model="error"> 报错提示样式
            </label>


            <p ng-class="style" style="font-size:30px;">字符串的语法 输入内容的class样式，给内容加样式 </p>
            <input style="width: 300px;" type="text" ng-model="style" placeholder="在这里输入 red strike bold">


            <p ng-class="[style1, style2, style3]"  style="font-size:30px;">使用数组语法，添加样式</p>

            <input style="width: 300px;" ng-model="style1" placeholder="请输入 red  bold strike"><br>
            <input style="width: 300px;margin-top: 8px;" ng-model="style2" placeholder="请输入 red  bold strike"><br>
            <input style="width: 300px;margin-top: 8px;" ng-model="style3" placeholder="请输入 red  bold strike"><br><br>

            <!--ng-class-odd和ng-class-even-->
            <ol  class="list-group"style="width: 300px;" ng-init="names=['1111', '222', '333', '444', '555', '666', '777',]">
                <li  class="list-group-item"  ng-repeat="name in names" ng-class-odd="'odd'" ng-class-even="'even'">
                    <!-- 循环li 里面的span ，在css里面奇数和偶数分开-->
                    <span >{{name}}</span>
                </li>
            </ol>
        </div>
    </div>

    <div >
        <div>
            <h1>ng-if 和 ng-show和ng-hide 和ng-style</h1>
        </div>
        <div>
            <p>为false是该dom元素将被删除，反之为true加入该dom元素。</p>
            <p>ng-if和 ng-show的区别是 ng-if在dom中删除，ng-show在dom隐藏 </p>
            <p>ngstyle指令允许你设置CSS样式的HTML元素的条件</p>
        </div>
        <div>
            <div>
                Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /><br />
                当检查显示:<span ng-if="checked" class="animate-if">这是清除复选框被选中时</span>
            </div>
            <div>
                <button class="btn btn-info" ng-click="show=!show">切换</button> <div ng-if="show" class="fade"></div>
            </div>

            <div>
                点击ng-show 和ng-hide
                <input type="checkbox" ng-model="checked2" class="ng-valid ng-dirty ng-touched">
                <div class="check-element animate-show" ng-show="checked2">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    显示ng-show 是true
                </div>
                <div class="check-element animate-show " ng-hide="checked2">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    显示ng-hide为false
                </div>
            </div>

            <div>
                <input type="button" class="btn btn-info" value="set color" ng-click="myStyle={color:'red'}">
                <input type="button" class="btn btn-info" value="set background" ng-click="myStyle={'background-color':'blue'}">
                <input type="button" class="btn btn-info" value="clear" ng-click="myStyle={}">
                <br />
                <span ng-style="myStyle">要被改变的样式</span>
                <pre>myStyle={{myStyle}}</pre>
            </div>
        </div>
    </div>

    <div >
        <div>
            <h1>ng-list</h1>
        </div>
        <div>
            <p>
                在分隔的字符串和一个字符串数组之间转换的文本输入。默认的分隔符是一个逗号后面的空间相当于ng-list=", "。你可以指定一个自定义分隔符的nglist属性值例如，ng-list=" | "。该指令的行为是由ngtrim属性的影响。 如果ngtrim设置为“false”然后空格在分离器和每个列表项的有效。这意味着，该指令的用户负责处理空白，但也允许你使用空格作为分隔符，如制表符或换行符。 否则，周围的空白分隔符时忽视了在每个列表项空白才加入模型之前。</p>
            <table class="table theadBg">
                <thead>
                <tr>
                    <th>参数名称</th>
                    <th>参数类型</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in ngList">
                    <td class="w25">{{a.name}}</td>
                    <td class="w15">{{a.type}}</td>
                    <td class="w60">{{a.describe}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
           <div class="row">
               <div class="col-md-3">
                   <span>回车 进行下一行 </span>
                   <textarea style="width: 300px; " ng-model="list" ng-list="&#10;" ng-trim="false"></textarea>
               </div>
               <div  class="col-md-3">
                   <span>逗号加空格 </span>
                   <textarea style="width: 300px;" ng-model="list" ng-list ng-trim="false"></textarea>
               </div>

           </div>
            <pre>{{ list | json }}</pre>
        </div>
    </div>



    <div >
        <div>
            <h1>ng-non-bindable</h1>
        </div>
        <div>
            <p>ngnonbindable指令告诉angular不编译或结合当前的DOM元素的含量。这是有用的，如果该元素包含什么angular指令和绑定，但应该忽略angular。可能如果你有一个网站，显示的代码片段是这样的。</p>
        </div>
        <div>
            <div>转译后的结果: {{1 + 2}}</div>
            <div ng-non-bindable>不专译的结果: {{1 + 2}}</div>
        </div>
    </div>

    <div >
        <div>
            <h1>ng-pluralize</h1>
        </div>
        <div>
            <p>ngpluralize指令通过规则判断显示相应的字符串（只能判断数字）。ngPluralize配置：ngpluralize配置提供2个属性：count 和 when，您还可以提供一个可选属性，offset。 when属性是判断不同的值时显示对应的字符串。 ngPluralize配置offset属性：偏移属性允许多元文本进一步定制，从而更好的用户体验。例如，而不是“4人正在查看这个文件”，你可能会显示“翰，凯特和2人正在查看本文件”。偏移属性可以减去任意偏移值。</p>
            <table class="table theadBg">
                <thead>
                <tr>
                    <th>参数名称</th>
                    <th>参数类型</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in ngpluralize">
                    <td class="w25">{{a.name}}</td>
                    <td class="w15">{{a.type}}</td>
                    <td class="w60">{{a.describe}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            姓名 1:<input type="text" ng-model="person1" value="刘德华" /><br />
            姓名 2:<input type="text" ng-model="person2" value="杨幂" /><br />
            请输入数字:<input type="text" ng-model="personCount" value="1" /><br />
            <!--- Example with simple pluralization rules for en locale --->
            观看人员个数:
            <ng-pluralize count="personCount"
                          when="{'0': '没有人观看 .',
                       'one': '1 人观看.',
                       'other': '{} 人们观看.'}">
            </ng-pluralize><br>
            <!--- Example with offset --->
            观看人员名字:
            <ng-pluralize count="personCount" offset=2
                          when="{'0': '没有人观看.',
                       '1': '{{person1}} 观看.',
                       '2': '{{person1}} 和 {{person2}}观看.',
                       'one': '{{person1}}, {{person2}} 和 {} 人正在观看.',
                       'other': '{{person1}}, {{person2}} 和 {} 其他人正在观看.'}">
            </ng-pluralize>
        </div>
    </div>

    <div >
        <div>
            <h1>ng-readonly 和ng-disabled</h1>
        </div>
        <div>
            <p>ng-readonly勾选checkbox就不能在文本框输入内容</p>
            <p>ng-disabled 是true按钮将无法选中</p>


        </div>
        <div>
            <div>
                点击后不能选中: <input type="checkbox" ng-model="checked"><br />
                <button class="btn  btn-warning" ng-model="button" ng-disabled="checked">Button</button>
            </div>
            <br /><br />
            <div>
                检查我做文本只读: <input type="checkbox"  ng-model="checkedInput"><br />
                <input type="text" ng-readonly="checkedInput" value="默认内容" />
            </div>
        </div>
    </div>

    <div >
        <div>
            <h1>ng-repeat和 筛选</h1>
        </div>
        <div>
         <p>指令的ngrepeat实例化一个模板集合中的每项。每个模板实例都有其自己的scope，其中给定的循环变量设置为当前集合项目，并将$index为项目索引。 就是循环。 特殊属性在每个模板实例的局部范围内暴露.循环的开始和结束位置：循环的元素不只是一个dom元素，ngrepeat支持多个dom元素一起循环从ng-repeat-start起始位置开始到ng-repeat-end为结束位置。</p>

            <table class="table theadBg">
                <thead>
                <tr>
                    <th>参数名称</th>
                    <th>参数类型</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in ngrepeat">
                    <td class="w25">{{a.name}}</td>
                    <td class="w15">{{a.type}}</td>
                    <td class="w60">{{a.describe}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div>
                我有朋友。他们是 :
                <input type="search" ng-model="q" placeholder="筛选姓名" />
                <ul class="example-animate-container">
                    <li class="animate-repeat" ng-repeat="friend in friends | filter:q as results">
                        [{{$index + 1}}] {{friend.name}} 年龄 {{friend.age}}岁
                    </li>

                    <li class="animate-repeat" ng-if="results.length == 0">
                        <strong>未发现结果...</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div >
        <div>
            <h1>提交表单</h1>
        </div>
        <div>
            <p></p>
        </div>
        <div>
            <form  >
                输入文字并回车:
                <input type="text" ng-model="text" name="text" />
                <input type="submit" id="submit" value="提交" ng-click="submit()" />
                <pre>list={{list}}</pre>
            </form>
        </div>
    </div>

    <div >
        <div>
            <h1>ng-switch-when 和ng-srcset</h1>
        </div>
        <div>
            <p>ngSwitch指令包含ng-switch on、ng-switch-when、ng-switch-default功能类似switch，ng-switch on指要判断的值，ng-switch-when指条件条件符合将显示这个dom元素， ng-switch-default指条件都不符合默认显示的元素。 </p>
        </div>
        <div>
            <select ng-model="selection" ng-options="item for item in items"></select>
            <tt>selection={{selection}}</tt>
            <hr />
            <div class="animate-switch-container"
                 ng-switch on="selection">
                <div class="animate-switch" ng-switch-when="settings">Settings Div</div>
                <div class="animate-switch" ng-switch-when="home">Home Span</div>
                <div class="animate-switch" ng-switch-default>default</div>
            </div>
        </div>
    </div>

    <div >
        <div>
            <h1> ng-value</h1>
        </div>
        <div>
            <p>对option或input[radio]绑定表达式的值，所以当选中元素，该元素的值就会赋值到绑定的ngmodel中。ngValue支持option，但用ngValue只能赋值字符串给ngmodel，要用到对象用ngoptions。</p>
        </div>
        <div>
            <h2>选择要输出的内容?</h2>
            <label ng-repeat="name in names2" for="{{name}}">
                {{name}}
                <input type="radio"
                       ng-model="my.favorite"
                       ng-value="name"
                       id="{{name}}"
                       name="favorite">
            </label>
            <div>要输出的内容 {{my.favorite}}</div>
        </div>
    </div>

    <div >
        <div>
            <h1>指令模板ng-transclude</h1>
        </div>
        <div>
            <p>在自定义指令中嵌入指的的dom内容。有时候我我们要嵌入指令元素本身，而不仅仅是它的内容。在这种情况下，我们需要使用 transclude:’element’。它和 transclude:true 不同，它将标记了 ng-transclude 指令的元素一起包含到了指令模板中。使用transclusion，你的link函数会获得一个名叫 transclude 的链接函数，这个函数绑定了正确的指令scope，并且传入了另一个拥有被嵌入DOM元素拷贝的函数。你可以在这个 transclude 函数中执行比如修改元素拷贝或者将它添加到DOM上等操作。 类似 ng-repeat 这样的指令使用这种方式来重复DOM元素。</p>
        </div>
        <div>

        </div>
    </div>
</form>

</div>
