<h1>jquery 循环 each() 方法规定为每个匹配元素规定运行的函数。</h1>
<pre>语法 $(selector).each(function(index,element))</pre>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="" alt="">
        </a>
    </div>
</div>


<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
           通过for的 向html里插入模板
        </div>
        <div class="panel-body">
            <ul class="siwcbottomUl nav" id="htProjectBelong">

            </ul>
        </div>
    </div>

</div>
