<div class="container" >
    <fieldset>
        <legend>配置</legend>
        <form>
            <p>
                <label for="size">总共多少页</label>
                <input id="size" ng-model="paginationOptions.size" type="number" />
            </p>
            <p>
                <label for="page">当前页</label>
                <input id="page" ng-model="paginationOptions.page" type="number" />
            </p>
            <p>
                <label for="step">步长</label>
                <input id="step" ng-model="paginationOptions.step" type="number" />
            </p>
        </form>
    </fieldset>
    <fieldset style="overflow:hidden;">
        <legend>预览</legend>
        <!--<pagination-->
        <!--size="paginationOptions.size"-->
        <!--page="paginationOptions.page"-->
        <!--step="paginationOptions.step"-->
        <!--overrideAssignClasses="paginationClass"-->
        <!--&gt;-->
        <!--</pagination>-->

        <pagination
                size="paginationOptions.size"
                page="paginationOptions.page"
                step="paginationOptions.step"
                overrideAssignClasses="addClass"
        >
        </pagination>
    </fieldset>
</div>