<div class="as-bg" style="overflow: hidden">
    <div class="as-time">
        <h4>{{FullYear}}年{{Month}}月{{DateDay}}日{{Hours}}时{{Minutes}}分{{Seconds}}秒 <a ng-click="goHistory()" href="index.html#/main/topology" class="as-close pull-right glyphicon glyphicon-remove"></a></h4>
    </div>
  <div class="as-border">
      <div class="as-leftTop"></div>
      <div class="as-rightTop"></div>
      <div class="as-rightBom"></div>
      <div class="as-leftBom"></div>
      <div class="as-container">
          <div class="tes-box">
              <div class="as-title">
                  <i class="asReturn asReturn0" ng-click="clickFun(0)" ></i>
                  <div class="as-titleIn">
                      网元统计
                  </div>
              </div>
              <div class="tes-boxIn">
                  <ele-count time="time" max-height="tesBoxMaxHeight" min-height="tesBoxMinHeight"></ele-count>
              </div>
          </div>
          <div class="tes-box">
              <i class="asReturn asReturn1" ng-click="clickFun(1)" ></i>
              <div class="as-title">
                  <div class="as-titleIn">
                      现网结构
                  </div>
              </div>
              <div class="tes-boxIn">
                  <gis-topo time="time" max-height="tesBoxMaxHeight" min-height="tesBoxMinHeight"   min-width="tesBoxMinWidth" max-width="tesBoxMaxWidth"></gis-topo>
              </div>
          </div>
          <div class="tes-box">
              <i class="asReturn asReturn2" ng-click="clickFun(2)" ></i>
              <div class="as-title">
                  <div class="as-titleIn" >
                      故障处理监控
                  </div>
              </div>
              <div class="tes-boxIn">
                  <fault-monitoring time="time" is-fm-click="isFmClick" max-height="tesBoxMaxHeight" min-height="tesBoxMinHeight"></fault-monitoring>
              </div>
          </div>
          <div class="tes-box">
              <i class="asReturn asReturn3" ng-click="clickFun(3)" ></i>
              <div class="as-title">
                  <div class="as-titleIn" style="margin-left: -65px">
                      告警滚动大屏
                  </div>
              </div>
              <div class="tes-boxIn">
                  <alarm-scroll time="time" max-height="tesBoxMaxHeight" min-height="tesBoxMinHeight" is-click="isClick"></alarm-scroll>
              </div>
          </div>
          <div class="tes-box">
              <i class="asReturn asReturn4" ng-click="clickFun(4)" ></i>
              <div class="as-title">
                  <div class="as-titleIn" style="margin-left:-60px ">
                      历史告警走势图
                  </div>
              </div>
              <div class="tes-boxIn">
                  <historical-trend-chart time="time" is-fm-click="isHTCClick" max-height="tesBoxMaxHeight" min-height="tesBoxMinHeight"  min-width="tesBoxMinWidth" max-width="tesBoxMaxWidth"></historical-trend-chart>
              </div>
          </div>
          <div class="tes-box">
              <i class="asReturn asReturn5"  ng-click="clickFun(5)" ></i>
              <div class="as-title">
                  <div class="as-titleIn">
                      告警指数
                  </div>
              </div>
              <div class="tes-boxIn">
                  <alarm-index-count time="time" max-height="tesBoxMaxHeight" min-height="tesBoxMinHeight"></alarm-index-count>
              </div>
          </div>
      </div>
  </div>
</div>
