<div class="fff">
    <h2>存储</h2>
    <div>
        <div>
            <p></p>
            <span style="margin-left: 20px;">localStorage：<span style="color: red" id="localUser">没有数据</span>是一种半持久化的本地存储浏览器关闭就会失效</span>
        </div>
        <div>
            <span style="margin-left: 20px;">sessionStorage：<span style="color: #0d7fdd" id="sessionUser">没有数据</span>用于持久化的本地存储，除非主动删除数据，否则数据是永远不会过期的。</span>
        </div>
        <div>
            <span style="margin-left: 20px;"> cookie：<span style="color: brown" id="cookieUser">没有数据</span></span>
        </div>
    </div>
</div>